@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,900&subset=cyrillic");
.fb-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.fb-row-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.fb-row-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.fb-row-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

html {
  height: 100%; }

body {
  min-height: 100%;
  line-height: 1.4;
  font-size: 14px;
  font-family: "Montserrat", sans-serif; }

.button, .header__balance, .header__exit, .send-form, .button-link-page, .disable-comments, .balance-form__pay, .balance-form__tarrifs-link, .balance-form__exchange-button, .tarifs-button {
  border-radius: 30px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  cursor: pointer; }
  .button span, .header__balance span, .header__exit span, .send-form span, .button-link-page span, .disable-comments span, .balance-form__pay span, .balance-form__tarrifs-link span, .balance-form__exchange-button span, .tarifs-button span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px; }
  .button img, .header__balance img, .header__exit img, .send-form img, .button-link-page img, .disable-comments img, .balance-form__pay img, .balance-form__tarrifs-link img, .balance-form__exchange-button img, .tarifs-button img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px; }

.ponches-layout {
  position: relative;
  height: 100%;
  background: #ebebeb;
  padding-left: 100px;
  padding-right: 30px; }

.nav--left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  background: #fff;
  font-size: 0;
  text-align: center;
  padding-top: 40px; }

.nav-logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 60px; }
  .nav-logo img {
    height: 110px;
    display: block; }

.nav-links {
  padding: 0;
  margin: 0; }
  .nav-links a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: ease-out 0.16s; }
    .nav-links a:hover {
      background: #000;
      transition: ease-out 0.16s; }
    .nav-links a img {
      display: inline;
      vertical-align: middle;
      height: 24px; }

.main {
  width: 100%; }

.header {
  width: 100%;
  padding-top: 30px;
  text-align: right; }
  .header__user-mail {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px; }
  .header__balance {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    background: #000;
    color: #fff; }
    .header__balance span {
      margin: 0 4px; }
  .header__exit {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    background: #fff; }

.page-title {
  margin-bottom: 60px; }
  .page-title__h2 {
    font-size: 45px;
    margin: 0 0 10px; }
  .page-title a {
    display: block; }
    .page-title a img {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      margin-right: 5px; }
    .page-title a span {
      display: inline-block;
      vertical-align: middle;
      color: #767676;
      font-size: 14px; }

.page-block {
  border-radius: 10px;
  position: relative;
  margin: 0 1% 40px;
  padding: 40px 20px 30px 35px;
  background: #fff; }

.pb--30 {
  width: 30%; }

.pb--60 {
  width: 66%; }

.pb--100 {
  width: 100%; }

.pb-step-1 {
  background: #0094a7;
  min-height: 450px; }
  .pb-step-1:before {
    content: "";
    display: block;
    position: absolute;
    top: -41px;
    right: 10px;
    width: 130px;
    height: 80px;
    background: url(../img/zero-1.png) no-repeat center; }

.pb-title--step-1 {
  font-size: 28px;
  color: #fff;
  margin: 0 0 12px;
  line-height: 30px; }
  .pb-title--step-1 small {
    font-size: 14px; }

.pb-text--step-1 {
  color: #fff;
  margin: 0 0 15px; }
  .pb-text--step-1 strong {
    font-size: 16px; }

.pb-input--step-1 {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  outline: none;
  padding-bottom: 7px;
  margin: 0 0 30px;
  font-size: 14px;
  color: #fff;
  background: none; }

.pb-step-2 {
  min-height: 450px; }

.step-2-pick {
  width: 54%; }

.step-2-interest {
  width: 46%; }

.pb-title {
  font-size: 24px;
  margin: 0 0 20px; }

.pb-text {
  font-size: 14px;
  margin: 0 0 20px; }

.grey-text {
  color: #767676; }

.blue-text {
  color: #0094a7; }

.orange-text {
  color: #fb8228; }

.info-text {
  position: relative; }
  .info-text:before {
    content: "*";
    position: absolute;
    left: -12px;
    top: 2px;
    font-size: 18px; }

.bold-text {
  font-weight: 700; }

.pick-row {
  margin-bottom: 29px;
  font-size: 0; }
  .pick-row__label {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    font-size: 14px; }
  .pick-row__pick-actions {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px); }

.pb-step-2 .pick-row:last-child {
  margin-bottom: 0; }

.pick-radio-box {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }
  .pick-radio-box input {
    display: none; }
  .pick-radio-box label {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: scale(0.9);
    transition: ease-out 0.16s; }
  .pick-radio-box input:checked + label {
    color: #0094a7;
    transform: scale(1); }

.pick-actions__select {
  display: block;
  width: 200px;
  font-size: 15px;
  outline: none;
  background: none;
  border: none;
  padding-bottom: 7px;
  padding-right: 15px;
  border-bottom: 1px solid #767676;
  cursor: pointer; }

.interest-pick {
  font-size: 0;
  margin-bottom: 10px; }

.interest-radio-box {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  margin-right: 25px;
  margin-bottom: 5px; }
  .interest-radio-box input {
    display: none; }
  .interest-radio-box label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    padding: 1px 3px 1px 0;
    transition: ease-out 0.16s; }
    .interest-radio-box label:before {
      display: inline-block;
      vertical-align: middle;
      transition: ease-out 0.16s; }
  .interest-radio-box input:checked + label {
    color: #0094a7;
    transition: ease-out 0.16s; }
    .interest-radio-box input:checked + label:before {
      content: "";
      position: absolute;
      left: -11px;
      top: 7px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #0094a7;
      transition: ease-out 0.16s; }

.step-2-buttons {
  padding-top: 20px; }

.send-form {
  outline: none;
  background: #0094a7;
  color: #fff;
  border: none;
  font-weight: 700;
  padding: 0 25px;
  margin-right: 15px; }

.button-link-page {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 2px solid #0094a7;
  font-weight: 700;
  padding: 0 25px;
  color: #0094a7;
  line-height: 38px;
  margin-right: 15px; }

.ster-2-status-info-text {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  font-weight: 700; }

.pb-step-3 {
  background: #000;
  position: relative;
  color: #fff; }
  .pb-step-3:before {
    content: "";
    position: absolute;
    right: -34px;
    top: -35px;
    width: 200px;
    height: 70px;
    background: url(../img/zero-3.png) center no-repeat;
    background-size: cover; }
  .pb-step-3 .page-title {
    margin: 0 0 28px;
    font-size: 24px; }

.pb-3-free {
  width: 30%; }
  .pb-3-free .pb-text strong {
    font-weight: 700; }
  .pb-3-free .pb-text span {
    color: #0094a7;
    font-weight: 700; }

.pb-3-profile {
  width: 30%; }

.pb-3-profile__input {
  display: block;
  width: 250px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: 7px; }

.pb-3-text {
  width: 30%;
  padding-top: 10px; }

.pb-step-4 .page-title {
  font-size: 24px;
  margin: 0 0 25px; }
.pb-step-4 .pb-text {
  margin-bottom: 14px; }

.pb-step-5 .page-title {
  font-size: 24px;
  margin: 0 0 25px; }

.step-5-text--left {
  width: 55%;
  padding-right: 2%; }

.step-5-text--right {
  width: 45%; }

.step-5-checkboxes {
  padding-top: 20px;
  margin-bottom: 25px; }

.status-ok-image {
  position: relative;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: #0094a7;
  margin-right: 30px; }
  .status-ok-image:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    width: 10px;
    height: 5px;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: none;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff; }

.disable-comments {
  background: #fb8228;
  padding: 0 25px;
  border: none;
  outline: none;
  font-weight: 700;
  color: #fff;
  margin-right: 30px;
  width: 180px; }

.balance-title {
  margin: 0 0 30px;
  font-size: 35px; }

.history-block {
  background: none;
  padding: 0;
  width: 61%; }

.balance-month-block {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid #767676; }

.balance-more-button {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline; }

.history-month-title {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 15px; }

.balance-month-row {
  position: relative;
  background: #fff;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  padding: 12px 150px 12px 18px;
  margin-bottom: 15px; }
  .balance-month-row .history-row__post-number {
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle; }
  .balance-month-row .history-row-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }
  .balance-month-row .history-row-date {
    position: absolute;
    right: 20px;
    top: 12px; }
  .balance-month-row .history-row__disput {
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }

.balance-form {
  background: #000;
  padding-top: 100px;
  padding-bottom: 60px;
  color: #fff;
  width: 34%; }

.balance-form__current {
  margin-bottom: 30px; }

.balance-form__current-row {
  margin-bottom: 10px;
  font-size: 0; }

.balance-form__row--title {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.balance-form__row--value {
  text-align: right;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.balance-form__buttons {
  margin-bottom: 20px; }

.balance-form__pay {
  background: #0094a7;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.balance-form__tarrifs-link {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  width: 120px;
  display: inline-block;
  vertical-align: middle; }

.balance-form__info {
  margin-bottom: 25px; }

.balance-form__exchange {
  font-size: 0; }

.balance-form__exchange-input {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }
  .balance-form__exchange-input input {
    display: inline-block;
    vertical-align: bottom;
    background: none;
    width: 100px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    text-align: center;
    outline: none; }
  .balance-form__exchange-input span {
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    color: #fff; }

.balance-form__exchange-button {
  width: 185px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  line-height: 36px; }

.tarifs-content .fb-row-top {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.tarifs-item {
  position: relative;
  background: #fff;
  border-radius: 15px;
  padding: 40px 25px 40px 50px;
  width: 29%;
  margin: 0 2% 30px; }

.tarif-1-block {
  padding-top: 250px; }
  .tarif-1-block .tarifs-button {
    margin-top: 40px; }

.tarif-2-block {
  padding-bottom: 200px; }
  .tarif-2-block .tarifs-button {
    margin-top: 20px; }

.tarif-3-block {
  padding-top: 170px; }
  .tarif-3-block .tarifs-button {
    margin-top: 10px; }

.tarifs-title {
  font-size: 22px;
  margin: 0 0 12px; }

.tarifs-subtitle {
  font-size: 16px;
  margin: 0 0 8px; }

.tarifs-text {
  margin: 0 0 8px;
  font-size: 15px; }

.tarifs-button {
  display: inline-block;
  background: #0094a7;
  color: #fff;
  padding: 0 25px;
  height: 45px;
  line-height: 45px; }

/*# sourceMappingURL=style.css.map */
