@import 'sass/mixins.sass'
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&subset=cyrillic')


$black: #000
$white: #fff
$grey: #9f9f9f
$blue: #0094a7
$red: #d42525
$orange: #fb8228
$a: ease-out .22s


.fb-row
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(space-between)
	+align-items(center)

.fb-row-center
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(center)
	+align-items(center)

.fb-row-top
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(space-between)
	+align-items(flex-start)

.fb-row-start
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(flex-start)
	+align-items(flex-start)

.clearfix:after 
	content: ''
	display: block
	clear: both 
	height: 0
	visibility: hidden


html
	height: 100%

body 
	min-height: 100%
	line-height: 1.4
	font-size: 14px
	font-family: 'Montserrat', sans-serif


.button
	position: relative
	z-index: 5
	border-radius: 30px
	text-align: center
	height: 42px
	line-height: 42px
	padding: 0 20px
	cursor: pointer
	transition: $a

	&:hover
		transform: scale(1.05)
		transition: $a

	span 
		display: inline-block
		vertical-align: middle
		margin: 0 4px

	img
		display: inline-block
		vertical-align: middle
		margin: 0 4px

	
.ponches-layout
	position: relative
	height: 100%
	background: #ebebeb
	padding-left: 100px
	padding-right: 30px


.nav--left
	position: fixed
	z-index: 10
	left: 0
	top: 0
	bottom: 0
	width: 70px
	background: #fff
	font-size: 0
	text-align: center
	padding-top: 40px

.nav-logo
	display: inline-block
	vertical-align: middle
	margin-bottom: 60px

	img
		height: 110px
		display: block

.nav-links
	padding: 0
	margin: 0

	li 

	a 
		position: relative
		display: block
		width: 100%
		height: 60px
		line-height: 60px
		text-align: center
		transition: $a

		&:hover
			background: $black
			transition: $a

			svg 
				fill: $white
				transition: $a

			.nav-links__title
				visibility: visible
				transform: translateX(0px)
				opacity: 1
				transition: $a

		svg
			height: 24px
			display: inline-block
			vertical-align: middle
			transition: $a

	.current-nav
		background: $black

		svg
			fill: $white

.nav-links__title
	visibility: hidden
	position: absolute
	left: 100%
	height: 100%
	width: auto
	white-space: nowrap
	background: $black
	font-size: 14px
	color: $white
	padding: 0 30px 0 10px
	border-radius: 0 30px 30px 0
	transform: translateX(-30px)
	opacity: 0
	transition: $a

.main
	width: 100%
	min-height: 100vh

.header
	width: 100%
	padding-top: 30px
	text-align: right

	&__user-mail
		display: inline-block
		vertical-align: middle
		margin: 0 8px

	&__balance
		@extend .button
		display: inline-block
		vertical-align: middle
		margin: 0 8px
		background: $black
		color: $white

		&:hover
			transform: scale(1)

		span 
			margin: 0 4px

	&__exit
		@extend .button
		display: inline-block
		vertical-align: middle
		margin: 0 8px
		background: $white


.page-title
	margin-bottom: 60px

	&__h2
		font-size: 45px
		margin: 0 0 10px

	a 
		display: block

		img
			display: inline-block
			vertical-align: middle
			width: 25px
			margin-right: 5px

		span 
			display: inline-block
			vertical-align: middle
			color: $grey
			font-size: 14px


.page-content

.page-block
	border-radius: 20px
	position: relative
	margin: 0 1% 40px
	padding: 40px 20px 30px 35px
	background: $white

.pb--30
	width: 30%


.pb--60
	width: 66%


.pb--100
	width: 100%


.pb-step-1
	background: $blue
	min-height: 450px
	padding-top: 70px

	&:before
		content: ''
		display: block
		position: absolute
		z-index: 5
		top: -40px
		right: 15px
		width: 170px
		height: 80px
		background: url(../img/zero-1.png) no-repeat center
		background-size: contain

	&:after
		content: ''
		position: absolute
		z-index: 0
		width: 100%
		height: 150px
		left: 0
		top: -1px
		border-radius: 20px
		background: url(../img/step-1-ic.png) center no-repeat
		background-size: cover

.pb-step-6:before
	display: none

	
.pb-title--step-1
	font-size: 28px
	color: $white
	margin: 0 0 12px
	line-height: 30px

	small
		font-size: 14px

.pb-text--step-1
	color: $white
	margin: 0 0 15px

	strong
		font-size: 16px

.pb-input--step-1
		display: block
		width: 100%
		border: none
		border-bottom: 1px solid rgba( #fff, .6 )
		outline: none
		padding-bottom: 7px
		margin: 25px 0 35px
		font-size: 14px
		color: #fff
		background: none

.pb-step-2
	min-height: 450px

	&:before
		content: ''
		display: block
		position: absolute
		top: -40px
		right: 15px
		width: 170px
		height: 80px
		background: url(../img/zero-2.png) no-repeat center
		background-size: contain

.step-2-pick
	width: 54%

	.pb-text
		padding-right: 20px

.step-2-interest
	width: 46%

.pb-title
	font-size: 24px
	margin: 0 0 20px

.pb-text
	font-size: 14px
	margin: 0 0 20px

.grey-text
	color: $grey

.blue-text
	color: $blue

.orange-text
	color: $orange

.left-text
	text-align: left

.right-text
	text-align: right

.info-text
	position: relative

	&:before
		content: '*'
		position: absolute
		left: -12px
		top: 2px 
		font-size: 18px

.bold-text
	font-weight: 700
	

.pick-row
	margin-bottom: 29px
	font-size: 0

	&__label
		display: inline-block
		vertical-align: middle
		width: 100px
		font-size: 14px

	&__pick-actions
		display: inline-block
		vertical-align: middle
		width: calc(100% - 100px)

.pb-step-2 .pick-row:last-child
		margin-bottom: 0

.pick-radio-box
	font-size: 14px
	display: inline-block
	vertical-align: middle
	margin-right: 20px

	input 
		display: none

	label
		display: inline-block
		font-size: 16px
		cursor: pointer
		transform: scale(0.9)
		transition: $a

	input:checked + label 
		color: $blue
		transform: scale(1)
		font-weight: 700

.pick-actions__select
	display: block
	width: 200px
	font-size: 15px
	outline: none
	background: none
	border: none
	padding-bottom: 7px
	padding-right: 15px
	border-bottom: 1px solid $grey
	cursor: pointer

.selectric-wrapper
	width: 200px

.selectric
	background: none
	border: none
	border-bottom: 1px solid $grey

.selectric-open .selectric
	border-bottom: 1px solid $grey

.selectric .button
	background: none

.selectric .label
	margin-left: 2px

.selectric-items li
	transition: ease-out 0.08s

.selectric-items li.highlighted
	background: rgba($blue, .3)

.selectric-items li:hover
	background: rgba($blue, .08)


.interest-pick
	font-size: 0
	margin-bottom: 10px

.interest-radio-box
	display: inline-block
	vertical-align: middle
	font-size: 0px
	margin-right: 25px
	margin-bottom: 5px

	input 
		display: none

	label 
		position: relative
		display: inline-block
		vertical-align: middle
		cursor: pointer
		font-size: 14px
		padding: 1px 3px 1px 0
		transition: $a

		&:before
			display: inline-block
			vertical-align: middle
			transition: $a


	input:checked +label 
		color: $blue
		font-weight: 700
		transition: $a

		&:before
			content: ''
			position: absolute
			left: -11px
			top: 7px
			width: 6px
			height: 6px
			border-radius: 100%
			background: $blue
			transition: $a

.step-2-buttons
	padding-top: 20px

.add-new-acc
	text-align: center
	margin-bottom: 60px

	&--button
		@extend .button 
		display: inline-block
		vertical-align: middle
		background: $blue
		border: 2px solid $blue
		color: $white
		line-height: 38px
		margin-right: 10px
		font-weight: 700

	&--feed
		@extend .button 
		display: inline-block
		vertical-align: middle
		background: transparent
		border: 2px solid $blue
		color: $blue
		line-height: 38px
		font-weight: 700

.send-form
	@extend .button
	outline: none
	background: $blue
	color: $white
	border: none
	font-weight: 700
	padding: 0 25px
	margin-right: 15px

.button-link-page
	@extend .button
	display: inline-block
	vertical-align: middle
	background: $white
	border: 2px solid $blue
	font-weight: 700
	padding: 0 25px
	color: $blue
	line-height: 38px
	margin-right: 15px

.ster-2-status-info-text
	font-size: 15px
	display: inline-block
	vertical-align: middle
	width: 280px
	font-weight: 700
	

.pb-step-3
	background: $black
	position: relative
	color: $white

	&:before
		content: ''
		position: absolute
		right: -34px
		top: -35px
		width: 200px
		height: 70px
		background: url(../img/zero-3.png) center no-repeat
		background-size: cover

	&:after
		content: ''
		position: absolute
		width: 330px
		height: 170px
		right: 0
		bottom: 0
		background: url(../img/step-3-ic.png) center no-repeat
		background-size: cover

	.page-title
		margin: 0 0 28px
		font-size: 24px

.pb-3-free
	width: 30%

	.pb-text
		padding-right: 20px

	.pb-text strong
		font-weight: 700

	.pb-text span 
		color: $blue
		font-weight: 700


.pb-3-profile
	width: 30%

.pb-3-profile__input
	display: block
	width: 250px
	background: none
	outline: none
	border: none 
	border-bottom: 1px solid $white
	color: $white
	padding-bottom: 7px

.pb-3-text
	width: 30%
	padding-top: 10px



.pb-step-4

	&:before
		content: ''
		display: block
		position: absolute
		top: -40px
		right: 15px
		width: 180px
		height: 80px
		background: url(../img/zero-4.png) no-repeat center
		background-size: contain

	.page-title
		font-size: 24px
		margin: 0 0 25px

	.pb-text
		margin-bottom: 14px

.pb-step-5

	&:before
		content: ''
		display: block
		position: absolute
		top: -40px
		right: 15px
		width: 180px
		height: 80px
		background: url(../img/zero-5.png) no-repeat center
		background-size: contain

	.page-title
		font-size: 24px
		margin: 0 0 25px

.step-5-text--left
	width: 55%
	padding-right: 20px

.step-5-text--right
	width: 45%

.step-5-checkboxes
	padding-top: 20px
	margin-bottom: 25px

.status-ok-image
	position: relative
	border-radius: 100%
	width: 40px
	height: 40px
	background: $blue
	margin-right: 30px

	&:after
		content: ''
		position: absolute
		left: 50%
		top: 45%
		width: 10px
		height: 5px
		transform: translate(-50%, -50%) rotate(-45deg)
		border: none
		border-left: 1px solid #fff
		border-bottom: 1px solid #fff

.disable-comments
	@extend .button
	background: $orange
	padding: 0 25px
	border: none
	outline: none
	font-weight: 700
	color: $white
	margin-right: 30px
	width: 180px


.balance-title
	margin: 0 0 30px
	font-size: 35px


.history-block
	background: none
	padding: 0
	width: 61%

.balance-month-block
	position: relative
	padding-bottom: 25px
	margin-bottom: 30px
	border-bottom: 1px solid $grey

.balance-more-button
	display: inline-block
	cursor: pointer
	text-decoration: underline

.history-month-title
	font-size: 14px
	position: absolute
	bottom: 10px
	right: 15px

.balance-month-row
	position: relative
	width: 100%
	background: $white
	border-radius: 25px
	display: inline-block
	vertical-align: top
	padding: 12px 150px 12px 18px
	margin-bottom: 15px

	.history-row__post-number
		text-decoration: underline
		display: inline-block
		vertical-align: middle

	.history-row-text
		display: inline-block
		vertical-align: middle
		margin: 0

	.history-row-date
		position: absolute
		right: 20px
		top: 12px

	.history-row__disput
		text-decoration: underline
		display: inline-block
		vertical-align: middle
		cursor: pointer

.balance-form
	position: relative
	background: $black
	padding-top: 100px
	padding-bottom: 60px
	color: $white
	width: 34%
	max-width: 420px

	&:after
		content: ''
		position: absolute
		width: 100%
		height: 120px
		left: 0
		top: -1px
		border-radius: 19px 19px 0 0
		background: url(../img/step-1-ic.png) center no-repeat
		background-size: cover


.balance-form__current
	margin-bottom: 30px

.balance-form__current-row
	margin-bottom: 10px
	font-size: 0

.balance-form__row--title
	text-align: left
	font-size: 16px
	display: inline-block
	vertical-align: top
	width: 50%

.balance-form__row--value
	text-align: right
	font-size: 14px
	display: inline-block
	vertical-align: top
	width: 50%

.balance-form__buttons
	margin-bottom: 20px

.balance-form__pay
	@extend .button 
	background: $blue
	width: 150px
	display: inline-block
	vertical-align: middle
	margin-right: 10px

.balance-form__tarrifs-link
	@extend .button
	background: none
	color: $white
	border: 2px solid $white
	width: 120px
	display: inline-block
	vertical-align: middle

.balance-form__info
	margin-bottom: 25px

.balance-form__exchange
	font-size: 0

.balance-form__exchange-input
	width: 160px
	display: inline-block
	vertical-align: middle
	margin-right: 5px
	
	input 
		display: inline-block
		vertical-align: bottom
		background: none
		width: 80px
		padding-bottom: 10px
		margin-right: 10px
		font-size: 22px
		color: $white
		border: none
		border-bottom: 2px solid $white
		text-align: center
		outline: none

	span 
		font-size: 16px
		display: inline-block
		vertical-align: bottom
		color: $white

.balance-form__exchange-button
	@extend .button
	width: 165px
	display: inline-block
	vertical-align: middle
	font-size: 13px
	padding: 0 10px
	font-weight: 700
	color: $white
	border: 2px solid $white
	line-height: 36px


.tarifs-content
	.fb-row-top
		+justify-content(center)

.tarifs-item
	position: relative
	background: $white
	border-radius: 20px 
	padding: 40px 30px 40px 50px
	width: 29%
	max-width: 440px
	margin: 0 2% 50px

	&__img
		position: absolute
		display: block

.tarif-1-block
	padding-top: 220px

	.tarifs-item__img
		width: 230px
		right: -15px
		top: -15px

	.tarifs-button
		margin-top: 40px

.tarif-2-block
	padding-bottom: 200px

	.tarifs-item__img
		z-index: 0
		width: 270px
		right: 0
		bottom: -40px

	.tarifs-button
		margin-top: 20px

.tarif-3-block
	padding-top: 140px

	.tarifs-item__img
		width: 270px
		z-index: 0
		top: 0
		left: -49px

	.tarifs-item__img-3
		position: absolute
		width: 150px
		z-index: 0
		bottom: -3px
		right: -3px

	.tarifs-button
		margin-top: 10px

.tarifs-title
	position: relative
	z-index: 5
	font-size: 22px
	margin: 0 0 12px

.tarifs-subtitle
	position: relative
	z-index: 5
	font-size: 16px
	margin: 0 0 8px

.tarifs-text
	position: relative
	z-index: 5
	margin: 0 0 8px 
	font-size: 15px

.tarifs-button
	@extend .button
	display: inline-block
	background: $blue
	color: $white
	padding: 0 25px
	height: 45px
	line-height: 45px

.task-step-1 
	max-width: 350px

	.pb-title--step-1
		font-size: 26px
		margin: 0 0 8px
		line-height: 24px

	.pb-text--step-1
		margin: 0 0 12px

	.pb-input--step-1
		margin: 20px 0 30px


.task-step-1-block
	color: $white

.task-step-1__input
	display: block
	width: 100%
	border: none
	border-bottom: 1px solid rgba( #fff, .6 )
	outline: none
	padding-bottom: 7px
	margin: 0 0 30px
	font-size: 40px
	color: #fff
	font-weight: 700
	background: none

.task-step-1__balance
	
.task-step-1__balance-row
	font-size: 0
	
	& div
		font-size: 14px
		font-weight: 700
		display: inline-block
		vertical-align: middle
		width: 50%

.step-2-task
	@extend .step-2-pick
	width: 48%

.task-textarea
	display: block
	width: 100%
	min-height: 200px
	line-height: 20px
	font-weight: 300
	padding: 25px
	border-radius: 10px
	border: 1px solid $grey
	color: $grey
	outline: none
	resize: none
	margin: 0

.step-2-comments
	width: 48%

.task-pick-text
	margin-bottom: 20px
	padding-right: 10px

	input 
		display: none

	label 
		display: block
		width: 100%
		position: relative
		cursor: pointer	
		color: $grey
		transition: $a

		&:after
			content: ''
			position: absolute
			right: 0px
			top: 5px
			width: 6px
			height: 6px
			background: $blue
			opacity: 0
			border-radius: 100%

		&:hover
			color: #000

	input:checked+label 
		color: $blue
		animation: .6s zoom
		transition: $a

		&:after
			opacity: 1


@keyframes zoom 
	0%
		transform: scale(0.95)
		opacity: 0

	100%
		transform: scale(1)
		opacity: 1

.task-pick-button
	@extend .button 
	display: inline-block
	vertical-align: middle
	background: $blue
	color: $white
	font-weight: 700

.task-pick-button-status
	color: #00a718
	font-weight: 700

.task-table-block
	background: none
	padding: 0

.task-table-container

.task-table-header
	

	&.task-table-row
		background: none
		color: #000
		font-weight: 700
		margin-bottom: 0

.task-table-month
	position: relative
	padding-bottom: 10px
	margin-bottom: 20px
	border-bottom: 1px solid $grey

.tt-month-title
	position: absolute
	bottom: 20px
	right: 0
	font-size: 14px
	color: $grey

.task-table-row
	width: 100%
	max-width: 900px
	font-size: 0
	background: $white
	color: $grey
	font-weight: 400
	border-radius: 20px
	margin-bottom: 15px

.task-table-cell
	font-size: 14px
	height: 40px
	line-height: 40px
	display: inline-block
	vertical-align: middle

.tt-account
	width: 17%
	padding-left: 20px

.tt-status
	width: 23%
	text-align: center

.tt-progress
	width: 20%
	padding-left: 12px

.tt-date
	width: 20%

.tt-details
	width: 20%
	text-align: right
	padding-right: 20px
	color: $blue

	&:hover
		text-decoration: underline


.feed-content

	.fb-row-top
		+justify-content(center)

.feed-list
	width: 60%
	max-width: 800px
	margin: 0 1% 50px

.feed-item
	border-radius: 20px 
	background: $white
	padding: 50px 30px
	margin-bottom: 30px
	position: relative

	.feed-item__title
		padding: 0 270px 0 0

	.feed-item__text
		padding: 0 270px 0 0

	&.feed-item--system

		.feed-item__title
			padding: 0

		.feed-item__text
			padding: 0

	&.feed-item--system-error
		.feed-item__text
			position: relative
			padding: 0 180px 0 70px

			&:before
				content: ''
				position: absolute
				width: 50px
				height: 50px
				top: 50%
				transform: translateY(-50%)
				left: 0px
				border-radius: 50%
				background: #dd375a url(../img/system-error-ic.png) center no-repeat



.feed-item__close
	position: absolute
	right: 25px
	top: 20px
	font-size: 14px
	cursor: pointer

.feed-item__title
	font-size: 16px
	font-weight: 700
	margin: 0 0 20px

.feed-item__text
	margin: 0 0 30px
	font-size: 13px

.feed-item__timeout
	position: absolute
	width: 240px
	right: 20px
	top: 120px

	&-title 
		display: inline-block
		vertical-align: middle
		margin-right: 10px

	&-value 
		display: inline-block
		vertical-align: middle
		font-size: 24px
		font-weight: 700
		color: $black

.feed-item__fill-button
	@extend .button
	background: $blue
	color: $white
	display: inline-block
	vertical-align: middle
	font-weight: 700
	margin-right: 10px
	border: 2px solid $blue
	line-height: 38px

.feed-item__outlined-button
	@extend .button
	display: inline-block
	vertical-align: middle
	font-weight: 700
	margin-right: 10px
	border: 2px solid $blue
	color: $blue
	line-height: 38px

.feed-item__disabled-button
	@extend .button
	display: inline-block
	vertical-align: middle
	font-weight: 700
	margin-right: 10px
	border: 2px solid $grey
	color: $grey
	line-height: 38px



.feed-conditions
	position: relative
	width: calc(100% - 800px - 30px)
	max-width: 400px
	min-height: 600px
	border-radius: 20px
	padding: 40px 30px
	color: $white
	margin: 0 1% 50px
	background: $blue url(../img/condition-bg.png) bottom center no-repeat
	background-size: contain


	&__title
		font-size: 26px
		font-weight: 700
		margin: 0 0 20px

	&__text
		font-size: 14px
		font-weight: 700
		margin: 0 0 15px
		letter-spacing: 0.3px

	&__button
		text-align: center
		display: inline-block
		position: absolute
		left: 50%
		transform: translateX(-50%)
		font-size: 16px
		bottom: -55px
		border-radius: 20px 
		border: 2px solid $blue
		font-weight: 700
		background: $blue
		height: 42px
		line-height: 38px
		padding: 0 18px
		cursor: pointer
		transform-origin: 0px
		animation: bounceBounce 1s ease-in-out 4

@keyframes bounceBounce
	0%
		transform: scale(1) translateX(-50%)

	50% 
		transform: scale(0.8) translateX(-50%)

	100%
		transform: scale(1) translateX(-50%)

.modal-container
	position: fixed
	overflow-y: scroll
	z-index: 100
	width: calc(100% + 16px)
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0, .75)
	visibility: hidden
	opacity: 0
	transition: $a


	&.open
		visibility: visible
		opacity: 1

		.modal-wrap
			transform: translateY(0px)
			opacity: 1
			transition: $a

.tarifs-modal
	.modal-wrap
		padding: 30px
		max-width: 350px
		overflow: visible

	h4
		margin: 0 0 20px
		font-size: 16px
		font-weight: 700

	.selectric-wrapper
		width: 100%
		max-width: 250px	
		margin-bottom: 30px

	h5
		margin: 0 0 5px
		font-size: 16px
		font-weight: 700

	h6
		margin: 0 0 15px
		font-size: 15px

.tafirs-pick-price
	margin-bottom: 10px

.tarifs-pick-row

	input 
		display: none

	label 
		display: block
		padding: 5px 6px
		font-size: 14px
		cursor: pointer
		transition: ease-out .08s

		&:hover
			background: rgba($blue, .08 )

	input:checked + label 
		background: $blue
		color: $white
		transition: ease-out .08s

.tarifs-pick-price-input
	border: none
	border-bottom: 1px solid $grey
	font-size: 28px
	padding-bottom: 4px
	outline: none
	display: block
	color: $black

.tarifs-pick-button
	@extend .button
	margin: 20px 0 0
	display: inline-block
	background: $blue
	font-weight: 700
	color: $white

.modal-underwrap-pay-button
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: -60px
	color: $white
	border-radius: 20px 
	display: inline-block
	border: 2px solid $white
	height: 42px
	line-height: 38px
	cursor: pointer
	padding: 0 12px
	transition: $a

	&:hover
		transform: scale(1.05) translateX(-50%)
		transition: $a


.disput-modal .modal-wrap
	padding: 30px	
	max-width: 400px

.disput-modal__title
	font-size: 22px
	margin: 0 0 20px

.disput-modal__text
	margin: 0 0 20px 

.disput-modal-buttons
	text-align: right

.disput-modal-send
	@extend .button
	display: inline-block
	vertical-align: middle
	text-align: center
	background: $blue
	border: 2px solid $blue
	color: $white
	line-height: 38px
	margin-right: 10px

.disput-modal-cancel
	@extend .button
	display: inline-block
	vertical-align: middle
	text-align: center
	background: $white
	border: 2px solid $blue
	color: $blue
	line-height: 38px






.modal-close-layout
	position: absolute
	z-index: 105
	left: 0
	top: 0
	right: 0
	bottom: 0
	
.modal-back-close
	position: absolute
	top: -60px
	font-size: 20px
	color: $white
	width: 150px
	left: 50%
	transform: translateX(-50%)
	text-align: center
	cursor: pointer

	span 
		display: inline-block
		vertical-align: middle

	&__arr 
		font-size: 35px

.modal-wrap
	position: relative
	z-index: 110
	width: 100%
	max-width: 550px
	background: $white
	border-radius: 15px
	overflow: hidden
	margin: 100px auto
	min-height: 100px
	transform: translateY(60px)
	opacity: 0
	transition: $a

.modal-close
	position: absolute
	cursor: pointer
	font-weight: 400
	right: 20px
	bottom: 20px
	transition: $a

	&:hover
		transform: scale(1.1)
		transition: $a

.modal-task-header
	border-bottom: 1px solid $grey
	font-size: 0

.modal-task-title
	height: 50px
	padding: 16px 20px 0
	border-right: 1px solid $grey
	width: 70%
	font-size: 14px
	font-weight: 700
	display: inline-block
	vertical-align: top

.modal-task-delete
	font-size: 14px
	height: 50px
	padding-top: 16px
	font-weight: 700
	display: inline-block
	vertical-align: top
	width: 30%
	color: $red
	cursor: pointer
	text-align: center
	transition: $a

	&:hover
		background: #f1f1f1
		transition: $a

.modal-task-body
	padding-top: 15px
	padding-bottom: 50px
	text-decoration: underline

.modal-task-row
	padding: 4px 20px 4px
	font-size: 0

	&__title
		font-size: 15px
		display: inline-block
		vertical-align: middle
		margin-right: 6px

	&__text
		font-size: 14px
		display: inline-block
		vertical-align: middle









// RESPONSIVE
@media only screen and (min-width : 1440px) 
	.page-content
		width: 100%
		max-width: 1400px
		margin: 0 auto

	.tarif-1-block
		padding-top: 350px

		.tarifs-item__img
			width: 370px
			top: -24px
			right: -21px

	.tarif-2-block
		padding-top: 60px
		padding-bottom: 310px

		.tarifs-item__img
			width: 320px

	.tarif-3-block
		padding-top: 280px
		padding-bottom: 60px

		.tarifs-item__img
			width: 350px
			left: -57px

	.balance-form
		padding: 130px 50px 80px

	.balance-content > .fb-row-top
		max-width: 1440px
		margin: 0 auto

	.balance-title
		max-width: 1440px
		margin: 0 auto 20px

	.pb-step-1
		padding-top: 90px
		max-width: 500px


	.pb-step-1.task-step-1
		padding-top: 80px
		max-width: 390px

	.pb-step-2
		max-width: 900px

	.task-step-2
		max-width: none

	.pb-step-3
		width: 100%
		margin: 0 1% 50px

	.pb-step-4
		padding-top: 50px
		padding-bottom: 10px
		max-width: 500px

	.pb-step-5
		max-width: 900px

	.task-table-block
		max-width: 1440px

	


@media only screen and (max-width : 400px) 